.su-dark figcaption {
  color: #c0c0bf;
}

.featured-story__no-gradient .su-bg-gradient {
  background: #6d6c69 !important;
}

.featured-story__no-gradient .image-gallery__swiper-wrapper .su-bg-gradient {
  background: #6d6c69 !important;
}
