/* stylelint-disable selector-class-pattern */
.image-gallery__swiper-wrapper .swiper-pagination-bullet {
  width: 13px !important;
  height: 13px !important;
}

.block-scroll {
  height: 100vh;
  overflow: hidden;
}

/* swiper styles */

.swiper {
  width: 100%;
  height: auto;
  position: relative;
}

.swiper-wrapper {
  position: relative;
}

.swiper-controls {
  position: absolute;
  width: 100px;
  right: 0;
  top: 250px;
  content: "";
  z-index: 999;
  display: flex;
  justify-content: flex-end;
  gap: 13px;
  height: auto;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .swiper-controls {
    position: absolute;
    width: 100px;
    right: 0;
    top: 390px;
    content: "";
    z-index: 999;
    display: flex;
    justify-content: flex-end;
    gap: 13px;
    height: auto;
    flex-wrap: wrap;
  }
}

.swiper-pagination {
  width: auto;
  height: auto;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  margin-right: 2px;
  font-family: "Source Serif Pro", Georgia, Times, "Times New Roman", serif;
}

.swiper-controls button:disabled {
  background: #585754;
  opacity: 35%;
  border: 1px solid #d5d5d4;
}

.swiper-slide.fully-visible {
  opacity: 100%;
}

.swiper-button-disabled {
  background: #585754;
  opacity: 35%;
  border: 1px solid #d5d5d4;
}

.image-gallery__swiper-wrapper {
  /* stylelint-disable-next-line no-duplicate-selectors */
  .swiper-pagination-bullet {
    background: #fff;
    border: 1px solid #000;
    opacity: 100%;
  }

  .swiper-pagination-bullet-active {
    background: #000;
  }
}

.su-dark .image-gallery__swiper-wrapper {
  .swiper-pagination-bullet {
    background: #000;
    border: 1px solid #fff;
    opacity: 100%;
  }

  .swiper-pagination-bullet-active {
    background: #fff;
  }
}
