<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Component scaffold</title>

        [component://static-header]
        <link rel="stylesheet" type="text/css" href="http://127.0.0.1:4000/global.css" />
    </head>

    <body>
        <header class="su-bg-black-90 su-text-black-10 su-mb-15 su-p-20">Page headers</header>

        <main>[component://output]</main>

        <footer class="su-bg-black-90 su-text-black-10 su-mt-15 su-p-20">Page footer</footer>

        [component://static-footer]
        <!-- <script src="http://127.0.0.1:8080/other/client-websocket.js"></script> -->
        <script src="http://127.0.0.1:4000/js/global.js"></script>
    </body>
</html>
