.listing-item {
  position: relative;

  // Ensure the whole block is clickable
  &__title > a {
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__meta {
    color: #6d6c69;
  }
}
