<footer class="su-bg-black su-py-32">
    <div class="su-centered-container su-flex su-flex-col lg:su-flex-row su-gap-x-[42px] su-gap-y-xs">
        <img class="su-max-w-[139px]" src="../../images/logo-footer.png" alt="" />
        <div class="su-flex su-flex-col su-gap-lg md:su-gap-[12px]">
            <ul class="su-flex su-flex-wrap su-gap-y-xs md:su-gap-x-[32px] su-p-0 su-m-0 su-list-none su-text-white">
                <li class="su-text-17 su-mb-0 su-leading-[normal] su-flex-[50%_0_0] md:su-flex-none">
                    <a class="su-font-semibold hover:su-text-white hover:su-underline" href=""> Stanford Home </a>
                </li>
                <li class="su-text-17 su-mb-0 su-leading-[normal] su-flex-[50%_0_0] md:su-flex-none">
                    <a class="su-font-semibold hover:su-text-white hover:su-underline" href=""> Maps & Directions </a>
                </li>
                <li class="su-text-17 su-mb-0 su-leading-[normal] su-flex-[50%_0_0] md:su-flex-none">
                    <a class="su-font-semibold hover:su-text-white hover:su-underline" href=""> Search Stanford </a>
                </li>
                <li class="su-text-17 su-mb-0 su-leading-[normal] su-flex-[50%_0_0] md:su-flex-none">
                    <a class="su-font-semibold hover:su-text-white hover:su-underline" href=""> Emergency Info </a>
                </li>
            </ul>
            <ul class="su-flex su-flex-wrap su-gap-y-xs md:su-gap-[32px] su-p-0 su-m-0 su-list-none su-text-white">
                <li
                    class="su-leading-[normal] su-mb-0 su-text-15 su-flex-[50%_0_0] sm:su-flex-[33%_0_0] md:su-flex-none"
                >
                    <a class="hover:su-text-white hover:su-underline" href=""> Terms of Use </a>
                </li>
                <li
                    class="su-leading-[normal] su-mb-0 su-text-15 su-flex-[50%_0_0] sm:su-flex-[33%_0_0] md:su-flex-none"
                >
                    <a class="hover:su-text-white hover:su-underline" href=""> Privacy </a>
                </li>
                <li
                    class="su-leading-[normal] su-mb-0 su-text-15 su-flex-[50%_0_0] sm:su-flex-[33%_0_0] md:su-flex-none"
                >
                    <a class="hover:su-text-white hover:su-underline" href=""> Copyright </a>
                </li>
                <li
                    class="su-leading-[normal] su-mb-0 su-text-15 su-flex-[50%_0_0] sm:su-flex-[33%_0_0] md:su-flex-none"
                >
                    <a class="hover:su-text-white hover:su-underline" href=""> Trademarks </a>
                </li>
                <li
                    class="su-leading-[normal] su-mb-0 su-text-15 su-flex-[50%_0_0] sm:su-flex-[33%_0_0] md:su-flex-none"
                >
                    <a class="hover:su-text-white hover:su-underline" href=""> Non-Discrimination </a>
                </li>
                <li
                    class="su-leading-[normal] su-mb-0 su-text-15 su-flex-[50%_0_0] sm:su-flex-[33%_0_0] md:su-flex-none"
                >
                    <a class="hover:su-text-white hover:su-underline" href=""> Accessibility </a>
                </li>
            </ul>
            <p class="su-text-white su-text-15 su-leading-[normal] su-mb-0">
                ©Copyright Stanford University. Stanford, California 94305.
            </p>
        </div>
    </div>
</footer>
