<header class="su-h-95 su-w-full su-fixed su-z-20">
    <div class="su-centered-container su-h-full su-flex">
        <div
            class="su-bg-red su-relative su-flex su-items-center su-pr-40 before:su-bg-red before:su-absolute before:su-h-full before:su-right-full before:su-w-screen"
        >
            <img src="../../images/Stanford.svg" alt="" />
        </div>
        <div
            class="su-bg-black su-relative su-grow su-flex su-items-center su-justify-between after:su-bg-black after:su-absolute after:su-h-full after:su-left-full after:su-w-screen"
        >
            <div class="su-flex su-items-center">
                <ul class="su-p-0 su-m-0 su-mx-40 su-list-none su-flex su-gap-x-xl">
                    <li class="su-mb-0 su-group active">
                        <a
                            href="../main.html"
                            class="su-text-white group-[.active]:su-border-b-red group-[.active]:su-border-b-3 hover:su-text-white hover:su-border-b-red hover:su-border-b-3 su-pb-3 su-font-semibold"
                            >Home</a
                        >
                    </li>
                    <li class="su-mb-0 su-group">
                        <a
                            href="../new-content.html"
                            class="su-text-white group-[.active]:su-border-b-red group-[.active]:su-border-b-3 hover:su-text-white hover:su-border-b-red hover:su-border-b-3 su-pb-3 su-font-semibold"
                            >New Content</a
                        >
                    </li>
                    <li class="su-mb-0 su-group">
                        <a
                            href="../all-content.html"
                            class="su-text-white group-[.active]:su-border-b-red group-[.active]:su-border-b-3 hover:su-text-white hover:su-border-b-red hover:su-border-b-3 su-pb-3 su-font-semibold"
                            >All Content</a
                        >
                    </li>
                    <li class="su-mb-0 su-group">
                        <a
                            href="../insights.html"
                            class="su-text-white group-[.active]:su-border-b-red group-[.active]:su-border-b-3 hover:su-text-white hover:su-border-b-red hover:su-border-b-3 su-pb-3 su-font-semibold"
                            >Insights</a
                        >
                    </li>
                </ul>
                <button class="header-button su-group su-bg-gray-light su-flex su-items-center">
                    <span>Go to Matrix</span>
                    <svg
                        class="su-ml-5 su-transition-colors su-text-red group-hover:su-text-white"
                        width="18"
                        height="18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <g clip-path="url(#a)">
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M4.918 4.546a.9.9 0 0 1 .9-.9h7.637a.9.9 0 0 1 .9.9v7.636a.9.9 0 0 1-1.8 0V6.718l-7.373 7.373a.9.9 0 1 1-1.273-1.272l7.373-7.373H5.818a.9.9 0 0 1-.9-.9Z"
                                fill="currentColor"
                            />
                        </g>
                        <defs>
                            <clipPath id="a">
                                <path fill="#fff" d="M0 0h18v18H0z" />
                            </clipPath>
                        </defs>
                    </svg>
                </button>
            </div>
            <div class="su-text-white su-flex su-items-center">
                <div class="su-flex su-flex-col">
                    <p class="su-font-semibold su-text-16 su-leading-display su-mb-0">Hi, John Smith</p>
                    <a class="su-underline su-font-regular su-text-14 su-self-end" href="">Sign out</a>
                </div>
                <div
                    class="su-rounded-full su-flex su-ml-10 su-items-center su-justify-center su-aspect-[1/1] su-w-38 su-h-38 su-border-3 su-font-bold su-border-red"
                >
                    J
                </div>
            </div>
        </div>
    </div>
</header>
